## Условие 1:
Оформляйте ноутбук, используя эти советы:\
Номер задачи - заголовок 2\
Номер подзадачи - заголовок 3\
Предоставленные наборы данных оформляйте, как код

## Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def sum_all(**kwargs):
    summa = 0
    for key, value in kwargs.items():
        summa += value
    return summa

In [2]:
sum_all(apple=45, orange=4)

49

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.\
Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]

In [3]:
list_1 = [100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
list_2 = []
for i in range(len(list_1)):
    if list_1[i] >= 0:
        list_2.append(list_1[i])
sum(list_2)

1425

С использованием list comprehensions

In [5]:
list_3 = [list_1[i] for i in range(len(list_1)) if list_1[i] >= 0]
sum(list_3)

1425

## Условие 4.1:
Даны два списка.\
Дата покупки\
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']\
Суммы покупок по датам\
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре

In [6]:
date_p = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [7]:
summ_p = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [8]:
summa = 0
for i in range(len(date_p)):
    data=date_p[i].split('-')
    if data[1] == '11':
        summa+=summ_p[i]
summa

25098

Используйте list comprehensions

In [9]:
print(sum([s for d, s in zip(date_p, summ_p) if d[5:7] == '11']))

25098

## 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [10]:
def revenue(d1: list, d2: list) -> dict:
    revenue = {}    
    for i in range(len(d1)):        
        if date_p[i].split('-')[1] in revenue.keys():
            revenue[date_p[i].split('-')[1]] += summ_p[i]
        else:
            revenue[date_p[i].split('-')[1]] = summ_p[i]            
    return revenue
print(revenue(date_p, summ_p))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}